<!doctype html>
<html lang="en">
<!--begin::Head-->
<head>
    <title>AdminLTE v4 | Dashboard</title>
    {% include 'admin/share/header.html' %}
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="app-wrapper">

    <nav class="app-header navbar navbar-expand bg-body">
        {% include 'admin/share/navbar.html' %}
    </nav>

    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
            <!--begin::Brand Link-->
            <a href="./index.html" class="brand-link">
                <!--begin::Brand Image-->
                <img
                        src="{{ url_for('static', filename='admin/assets/img/AdminLTELogo.png') }}"
                        alt="AdminLTE Logo"
                        class="brand-image opacity-75 shadow"
                />
                <!--end::Brand Image-->
                <!--begin::Brand Text-->
                <span class="brand-text fw-light">AdminLTE 4</span>
                <!--end::Brand Text-->
            </a>
            <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
            <nav class="mt-2" aria-label="Main navigation">
                {% include 'admin/share/sidebar.html' %}
            </nav>
        </div>
    </aside>
    {% block content %}{% endblock %}

    {% include 'admin/share/footer.html' %}
</div>
{% include 'admin/share/script.html' %}
</body>
</html>
